<div class="container mat-elevation-z8">
  <div class="table-container">
    <table mat-table  [dataSource]="displayData" matSort class="table">
      <ng-container matColumnDef="{{col}}" *ngFor="let col of displayColumns; let i = index">
        <th mat-header-cell *matHeaderCellDef mat-sort-header style="min-width: 120px;">{{displayColumnsNames[i]}}</th>
        <td mat-cell *matCellDef="let row">
          <span *ngIf="col !== 'film'">
            {{row[col]}}
          </span>
          <span *ngIf="col === 'film'">
            <button mat-stroked-button color="accent" type="button" (click)="loadFilm(film)"  *ngFor="let film of row[col]">
              {{film | split:'/'}}
            </button>
          </span>
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayColumns;"></tr>
    </table>
  </div>
</div>

